Horizontal {
    height: 10;
}

Button {
    margin: 1;
}

TextArea {
    margin: 1 1;
}

.hidden {
    display: none;
}

RichLog {
    margin: 1;
}

#vertical_topic {
    width: 70%;
}

#buttons {
    width: 17%;
}

Select {
    margin: 1;
}

Input {
    margin: 1;
}